# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/package-lock
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.claude/skills/ui-ux-pro-max/SKILL.md
.claude/skills/ui-ux-pro-max/data/charts.csv
.claude/skills/ui-ux-pro-max/data/colors.csv
.claude/skills/ui-ux-pro-max/data/icons.csv
.claude/skills/ui-ux-pro-max/data/landing.csv
.claude/skills/ui-ux-pro-max/data/products.csv
.claude/skills/ui-ux-pro-max/data/react-performance.csv
.claude/skills/ui-ux-pro-max/data/styles.csv
.claude/skills/ui-ux-pro-max/data/typography.csv
.claude/skills/ui-ux-pro-max/data/ui-reasoning.csv
.claude/skills/ui-ux-pro-max/data/ux-guidelines.csv
.claude/skills/ui-ux-pro-max/data/web-interface.csv
.claude/skills/ui-ux-pro-max/data/stacks/astro.csv
.claude/skills/ui-ux-pro-max/data/stacks/flutter.csv
.claude/skills/ui-ux-pro-max/data/stacks/html-tailwind.csv
.claude/skills/ui-ux-pro-max/data/stacks/jetpack-compose.csv
.claude/skills/ui-ux-pro-max/data/stacks/nextjs.csv
.claude/skills/ui-ux-pro-max/data/stacks/nuxt-ui.csv
.claude/skills/ui-ux-pro-max/data/stacks/nuxtjs.csv
.claude/skills/ui-ux-pro-max/data/stacks/react-native.csv
.claude/skills/ui-ux-pro-max/data/stacks/react.csv
.claude/skills/ui-ux-pro-max/data/stacks/shadcn.csv
.claude/skills/ui-ux-pro-max/data/stacks/svelte.csv
.claude/skills/ui-ux-pro-max/data/stacks/swiftui.csv
.claude/skills/ui-ux-pro-max/data/stacks/vue.csv
.claude/skills/ui-ux-pro-max/scripts/core.py
.claude/skills/ui-ux-pro-max/scripts/design_system.py
.claude/skills/ui-ux-pro-max/scripts/search.py
.claude/skills/ui-ux-pro-max/scripts/__pycache__/core.cpython-314.pyc
.claude/skills/ui-ux-pro-max/scripts/__pycache__/design_system.cpython-314.pyc
.claude/skills/ui-ux-pro-max/scripts/__pycache__/search.cpython-314.pyc
